{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="application/javascript" src="{% static 'js/login.js'%}"></script>
</head>
<body>

<form action='' method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="请输入用户名" >
    <br>
    <br>
    <input type="text" name="vertify_code" placeholder="请输入验证码">
    <br>
    <br>
    <img src="{% url 'app:get_vertify_code' %}" id="vertify_img">
    <br>

    <input type="submit">
</form>
</body>
</html>